
.dropdown {
  position: relative;
  font-size: 16px;
  display: inline-block;

  button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 16px;

    &.optionsOpened {
      box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.35);
    }
  }

  div.options {
    width: 300px;
    font-family: system-ui;
    background-color: #fff;
    position: absolute;
    top: 100%;
    margin-top: 8px;
    left: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px 0;
    display: none;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

    &.opened {
      display: block;
    }

    .option {
      cursor: pointer;
      padding: 8px 16px;

      &:hover {
        background-color: lighten(#0080F7, 40%);
      }

    }
  }
}