
@import '../../vars';

.heading {
  margin-bottom: 50px;

  img { height: 70px; vertical-align: bottom; display: inline-block; margin-right: 5px; }
}

#content {
  @extend %ms2;

  ul {
    list-style-type: disc;
    margin-left: 55px;
    margin-top: 55px;

    li {
      padding-left: 15px;
      margin-bottom: 55px;

      .title { font-weight: bold; @extend %ms3; display: block; margin-bottom: 20px; }
    }
  }
}