
.arrows {
  overflow: hidden;

  .arrowBox {
    border: none;
    cursor: pointer;
  }

  &.arrowsOnWhite {
    .arrowBox {
      background-color: transparent;
      
      &:hover {
        background-color: #ddd;
      }
      &:active {
        background-color: #bbb;
      }

      &[disabled] {
        opacity: 0.15;
        background-color: transparent !important;
        cursor: default;
      }
    }
  }

  &.arrowsOnBlack {
    .arrowBox {
      background-color: #ddd;

      &:hover {
      background-color: #fff;

      }

      &:active {
      background-color: #888;

      }
      &[disabled] {
        background-color: #555;
        cursor: default;
      }
    }
  }
}