
@import '../vars';


#home {
  
  .hero {
    margin: 110px auto;
    text-align: center;

    .heroStatus {
      background-color: #DBF7FF;
      display: inline-block;
    }

    .heroLinks {
      margin-top: 30px;

      a {
        @extend %ms3;
        color: #0080F7;

        .underline { border-bottom: 1px solid; }
        svg {
          vertical-align: middle;
        }
        &.workLink {
          margin-right: 30px;
          svg {
            margin-right: 7px;
            vertical-align: text-bottom;
          }
        }
        &.cvLink {
          svg {
            margin-right: 12px;
            vertical-align: text-top;
          }
        }
      }
    }
  }
  h1 {
    @extend %ms4;
  }

  h3.sectionTitle {
    @extend %ms5;
    margin-bottom: 55px;
  }
}


#projects {
  @mixin work($color, $baseAlpha) {
    background-color: rgba($color, $baseAlpha);

    a {
      background-color: rgba($color, $baseAlpha * 2);
      border-bottom: 1px solid rgba($color, $baseAlpha * 4);

      &:hover {
        background-color: rgba($color, $baseAlpha * 3);
      }
    }

    .testimonial {
      .text {
        background: rgba($color, $baseAlpha);
        border-color: rgba($color, $baseAlpha * 2);
        .inner:before {
          color: rgba($color, $baseAlpha);
        }
      }
      .text:before, .text:after {
        border-top-color: rgba($color, $baseAlpha * 2);
      }
    }
  }

  #habxWork {
    @include work(rgb(0, 111, 211), .1);
  }
  #dailymotionWork {
    @include work(rgb(4, 184, 251), .12);
  }
  #spendeskWork {
    @include work(rgb(97, 0, 255), .07);
  }
  #speakenWork {
    @include work(rgb(63, 200, 214), .1);
  }

  #spendeskMobileMockup {
    overflow: hidden;
  }
  #spendeskUbuntuMockup {
  }

  .workBlock {
    // margin-bottom: 220px;
    padding: 55px 0; 
    margin-bottom: 110px;

    h2 { margin-bottom: 5px; }
    h3 { margin-bottom: 10px; }
    .brief {
      @extend %ms2;
    }

    .workMockups {
      margin: 75px 0 0;
      overflow: auto;
    }

    .keyPoints {
      margin-top: 30px;
      // margin-bottomL: ;
      margin-left: auto;
      margin-right: auto;
      @extend %ms1;

      ul {
        list-style-type: disc;
        padding-left: 40px;

        .keyPointLink {
          color: #0080f7;
          background-color: rgba(187,239,253,.9) !important;
          padding: 6px 8px;
          border-bottom: none !important;
          border-radius: 3px;
          margin-left: 6px;

          &:hover {
            background-color: #bbeffd !important;
          }
        }
      }
    }

    .columnLeft {
      float: left;
      width: 50%;
      margin-right: 8.33%;
    }
    .columnRight {
      width: 41.66%;
    }

    .column {
      overflow: hidden;
      margin-bottom: 75px;

      p {
        @extend %ms1;
        text-align: justify;
      }
    }

    .columns {
      margin-top: 75px;
      overflow: auto;
    }

    .testimonial {
      width: 83.33%;
      margin: auto;
      text-align: center;
      @extend %ms1;


      .text {
        border-radius: 4px;
        margin-bottom: 35px;

        .inner {
          padding: 20px;
        }
        // .inner:before {
        //   display: block;
        //   padding-left: 10px;
        //   content: "\201C";
        //   font-size: 300px;
        //   position: absolute;
        //   left: -60px;
        //   top: -120px;
        // }
      }

      .text {
        position: relative;
        border: 2px solid transparent;
      }
      .text:after, .text:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      .text:after {
        border-color: rgba(255, 0, 0, 0);
        border-width: 8px;
        margin-left: -8px;
      }
      .text:before {
        border-color: rgba(0, 255, 0, 0);
        border-width: 11px;
        margin-left: -11px;
      }

      .who {
        overflow: hidden;
        display: inline-block;

        .picture {
          width: 64px; height: 64px;
          float: left;
          margin-right: 20px;
          border-radius: 4000px;
          overflow: hidden;
        }
  
        .details {
          overflow: hidden;

          .name {
            font-weight: bold;
          }

          .role {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}