
@import '../vars';


#home {
  
  .hero {
    margin: 110px auto;
    text-align: center;

    .heroStatus {
      background-color: #DBF7FF;
      display: inline-block;
    }

    .heroLinks {
      margin-top: 30px;

      a {
        @extend %ms3;
        color: #0080F7;

        .underline { border-bottom: 1px solid; }
        svg {
          vertical-align: middle;
        }
        &.workLink {
          margin-right: 30px;
          svg {
            margin-right: 7px;
            vertical-align: text-bottom;
          }
        }
        &.cvLink {
          svg {
            margin-right: 12px;
            vertical-align: text-top;
          }
        }
      }
    }
  }
  h1 {
    @extend %ms4;
  }

  h3.sectionTitle {
    @extend %ms5;
    margin-bottom: 55px;
  }
}