
.menuOverlay {
  display: none;
  transition: all 200ms ease;
  z-index: 1000;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &:global(.overlay-enter) {
    opacity: .4;
    transform: translateY(120px);
    display: block;
  }
  &:global(.overlay-enter-active), &:global(.overlay-enter-done) {
    opacity: 1;
    transform: translateY(0);
    display: block;
  }
  &:global(.overlay-exit)  {
    opacity: 1;
    transform: translateY(0);
    display: block;
  }
  &:global(.overlay-exit-active) {
    opacity: 0;
    transform: translateY(120px);
  }
  &:global(.overlay-exit-done) {
    display: none;
  }

  .close {
    padding: 22px;
    display: inline-block;
    margin-bottom: 44px;
  }
}
