
@import '../../vars';


#home {
  
  .hero {
    // margin: 110px auto;
    padding-top: 40px; // equal half of nav height
    padding-bottom: 40px; // equal half of nav height
    min-height: 100vh;
    max-height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media (max-width: 600px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    @media (max-width: 767px) {
      height: auto;
      min-height: auto;
      max-height: auto;
      margin: 110px auto;
      display: block;
    }

    .heroText {
      .meSmallOval {
        display: inline-block;
        margin-right: 12px;
        vertical-align: bottom;
        width: 80px;
      }

      @media (max-width: 600px) {
        .meSmallOval {
          width: 58px;
        }
      }
    }

    .heroStatus {
      background-color: #fff6db;
      display: inline-block;
    }

    .heroLinks {
      margin-top: 30px;

      @media (max-width: 767px) {
        a {
          display: block;
          margin-bottom: 12px;
        }
        a:last-child {
          margin-bottom: 0;
        }
      }

      a {
        @extend %ms3;
        color: #0080F7;

        .underline { border-bottom: 1px solid; }
        svg {
          vertical-align: middle;
        }
        &.workLink {
          margin-right: 30px;

          svg {
            margin-right: 7px;
            vertical-align: text-bottom;
          }

          @media (max-width: 767px) {
            margin-right: 0;
          }
        }
        &.cvLink {
          svg {
            margin-right: 12px;
            vertical-align: text-top;
          }
        }
      }
    }
  }

  h1 {
    @extend %ms4;
  }

  @media (max-width: 600px) {
    h1, h2 {
      font-size: 2em;
      line-height: 1.1;
    }
    h1 {
      margin-bottom: 12px;
    }
  }

  h3.sectionTitle {
    @extend %ms5;
    margin-bottom: 55px;
  }
}

.rate {
  // margin-bottom: 110px;
  p, ul {
    @extend %ms2;
  }

  ul {
    list-style-type: disc;
    margin-left: 32px;

    li.separator {
      list-style-type: none;
      border-top: 1px solid #ccc;
      width: 300px;
      margin: 16px 0;
    }
    .discount {
      background-color: #e4ffc9;
    }
  }
}

#projects {
  @mixin work($color, $baseAlpha) {
    background-color: rgba($color, $baseAlpha);

    a {
      background-color: rgba($color, $baseAlpha * 2);
      border-bottom: 1px solid rgba($color, $baseAlpha * 4);
      
      &:hover {
        background-color: rgba($color, $baseAlpha * 3);
      }
    }
    
    :global {
      .strong {
        color: darken(rgba($color, .8), 20%);
      }

      .testimonial {
        .quote {
          path {
            fill: rgba($color, $baseAlpha * 3);
          }
        }
        .text {
          background: rgba($color, $baseAlpha);
          border-color: rgba($color, $baseAlpha * 2);
          .inner:before {
            color: rgba($color, $baseAlpha);
          }
        }
        .text:before, .text:after {
          border-top-color: rgba($color, $baseAlpha * 2);
        }
      }
    }
  }

  #konbiniWork {
    @include work(rgb(245, 38, 53), .12);
  }

  #habxWork {
    @include work(rgb(0, 111, 211), .1);
  }
  #dailymotionWork {
    @include work(rgb(4, 184, 251), .12);
  }
  #spendeskWork {
    @include work(rgb(97, 0, 255), .07);
  }
  #speakenWork {
    @include work(rgb(63, 200, 214), .1);
  }

  #spendeskMobileMockup {
    overflow: hidden;
  }
  #spendeskUbuntuMockup {
  }
}

#contactCTABlock {
  @extend %ms2;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  p {
    margin-bottom: 12px;
  }

  .button {
    background-color: #0080f7;
    padding: 0 16px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    @extend %ms0;

    &:hover {
      background-color: #2997FF;
    }

    svg {
      width: 22px;
      height: 22px;
      vertical-align: text-bottom;
      margin-left: 12px;
    }
  }
}
