@import '../../lib/css/vars';

.workBlock {
  // margin-bottom: 220px;
  padding: 55px 0px; 
  margin-bottom: 110px;

  h2 { margin-bottom: 5px; }
  h3 { margin-bottom: 10px; }

  .title {
    margin-bottom: 5px;
  }

  .subtitle {
    margin-bottom: 30px;
  }

  .brief {
    @extend %ms2;
    margin-bottom: 30px;
  }

  .workMockups {
    margin: 75px 0;
    overflow: visible;
  }

  @media screen and (max-width: 767px) {
    .workMockups {
      margin: 55px 0;
    }
  }

  .keyPoints {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 17px;

    h3 {
      margin-left: 30px;
      margin-bottom: 24px;
    }

    ul {
      list-style-type: decimal;
      padding-left: 40px;

      @media screen and (max-width: 767px) {
        padding-left: 20px;
      }

      li {
        span {
          display: inline-block;
          margin-left: 8px;
          padding: 6px 10px;
          border-radius: 10px;
          vertical-align: middle;
        }
        margin-bottom: 24px;
      }

      .keyPointLink {
        color: #0080f7;
        background-color: rgba(187,239,253,.9) !important;
        padding: 6px 8px;
        border-bottom: none !important;
        border-radius: 3px;
        margin-left: 6px;

        &:hover {
          background-color: #bbeffd !important;
        }
      }
    }
  }

  .columnLeft {
    float: left;
    width: 50%;
    margin-right: 8.33%;
  }

  .columnRight {
    width: 41.66%;
  }

  @media (max-width: 767px) {
    .columnLeft {
      float: none;
      width: 100%;
      margin-right: 0;
    }
    .columnRight {
      width: 100%;
    }
  }

  .column {
    overflow: hidden;
    margin-bottom: 30px;

    p {
      @extend %ms1;
      text-align: justify;
    }
  }

  .columns {
    overflow: auto;
  }

  .testimonial {
    position: relative;
    width: 83.33%;
    margin: auto;
    text-align: center;
    @extend %ms1;

    .quote {
      position: absolute;
      width: 48px;
      height: 48px;
    }

    .quoteLeft {
      left: -22px;
      top: 28px;

    }
    .quoteRight {
      right: -25px;
      bottom: 88px;
    }

    @media (max-width: 767px) {
      .quoteRight {
        right: -10px;
      }
    }

    .text {
      border-radius: 4px;
      margin-bottom: 35px;

      .inner {
        padding: 20px;
      }
      // .inner:before {
      //   display: block;
      //   padding-left: 10px;
      //   content: "\201C";
      //   font-size: 300px;
      //   position: absolute;
      //   left: -60px;
      //   top: -120px;
      // }
    }

    .text {
      position: relative;
      border: 2px solid transparent;
    }
    .text:after, .text:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    .text:after {
      border-color: rgba(255, 0, 0, 0);
      border-width: 8px;
      margin-left: -8px;
    }
    .text:before {
      border-color: rgba(0, 255, 0, 0);
      border-width: 11px;
      margin-left: -11px;
    }

    .who {
      overflow: hidden;
      display: inline-block;

      .picture {
        width: 64px; height: 64px;
        float: left;
        margin-right: 20px;
        border-radius: 4000px;
        overflow: hidden;
      }

      .details {
        overflow: hidden;

        .name {
          font-weight: bold;
        }

        .role {
          margin-bottom: 5px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    .testimonial {
      width: 96%;
    }
  }
}