
@import '../lib/css/vars';

:global {
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  body {
    font-family: $serif-font;
    @extend %ms0;
  }

  a {
    color: black;
    // background-color: rgba(187, 239, 253, 0.5);
    text-decoration: none;
    // border-bottom: 1px solid #bbb;
  }

  a:hover {
    // background-color: #bbeffd;
    // border-bottom-color: #222;
  }

  /* TYPOGRAPHY */
  .sans-serif {
    font-family: $sans-serif-font;
  }

  .ms0 { @extend %ms0; }
  .ms1 { @extend %ms1; }
  .ms2 { @extend %ms2; }
  .ms3 { @extend %ms3; }
  .ms4 { @extend %ms4; }
  .ms5 { @extend %ms5; }

  h1 { @extend %ms5; }
  h2 { @extend %ms4; }
  h3 { @extend %ms3; }
  h4 { @extend %ms2; }
  h5 { @extend %ms1; }


  .muted { color: #999; }

  abbr { border-bottom: 1px dashed black; text-decoration: none; cursor: help; }

  /* ICONS */
  .external-link {
    &:after {
      content: '';
      display: inline-block;
      vertical-align: top;
      width: 1em;
      height: 1em;
      background-image: url('../img/external-link.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }

  /* MISCEALLANOUS */
  hr { border-bottom: none; margin: 0; }

  .container { width: 1080px; margin-left: auto; margin-right: auto; }

  @media (min-width: 768px) and (max-width: 1079px) {
    .container {
      width: 100%;
      padding: 0 16px;
    }
  }

  @media (max-width: 768px) {
    .container {
      width: 100%;
      padding: 0 8px;
    }
  }
}